spring:
  datasource:
    url: jdbc:mysql://localhost:3308/Tripler-db?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&serverTimezone=Asia/Seoul
    username: root
    password: 1234
  jpa:
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      enabled: true
      max-file-size: 300MB
      max-request-size: 500MB

  docker:
    compose:
      file: backend/docker-compose.yml

logging:
  level:
    root: info
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
  api-docs:
    path: /api-docs

# 도커 컴포즈 파일 경로 지정

